<div class="banner black-img">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>


<div class="container">
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-success" %>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-6">
        <div class="movie-card">
          <% movie = bookmark.movie %>
          <%= image_tag movie.poster_url %>
          <div class="d-flex">
            <h4><%= movie.title %></h4>
            <h4><%= movie.rating %></h4>
          </div>
          <p><%= movie.overview %></p>
          <p><%= bookmark.comment %></p>
          <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
